/*BASE.HTML*/
.navbar-dark{
    background: linear-gradient( #000, #000)
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
/*INDEX.HTML (Opening)*/
.centertext{
    font-size: 100px;
    font-weight: 700; 
    transform: translate(0%, 200%);
    font-family: 'Nova Mono', monospace;
    text-align: center;
    padding-bottom: 10px;
}
.glitch{
    text-align: center;
    color: #fff;
    mix-blend-mode: lighten;
}
.glitch::before, .glitch::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.glitch::before{
    left: .5rem;
    text-shadow: .125rem 0 orangered;
    animation: effect 3s infinite alternate-reverse;
}
.glitch::after{
    left: .25rem;
    text-shadow: -.125rem 0 #00ffff;
    animation: effect 3s infinite alternate-reverse;
}
@keyframes effect{
    0%{
        clip: rect(3.4375rem, 624.937rem, 3.5rem, 0);
    }
    5%{
        clip: rect(2.9375rem, 624.937rem, 1.875rem, 0);
    }
    10%{
        clip: rect(2.0625rem, 624.937rem, 30.375rem, 0);
    }
    15%{
        clip: rect(2.187rem, 624.937rem, 0.5625rem, 0);
    }
    20%{
        clip: rect(3.9375rem, 624.937rem, 3.6875rem, 0);
    }
    25%{
        clip: rect(6rem, 624.937rem, 6.125rem, 0);
    }
    30%{
        clip: rect(3.125rem, 624.937rem, 2.125rem, 0);
    }
    35%{
        clip: rect(3.125rem, 624.937rem, 2.125rem, 0);
    }
    40%{
        clip: rect(3.75rem, 624.937rem, 4.5rem, 0);
    }
    45%{
        clip: rect(4.625rem, 624.937rem, 5.0625rem, 0);
    }
    50%{
        clip: rect(4.125rem, 624.937rem, 3.75rem, 0);
    }
    60%{
        clip: rect(4.75rem, 624.937rem, 3.75rem, 0);
    }
    65%{
        clip: rect(3.875rem, 624.937rem, 1.975rem, 0);
    }
    70%{
        clip: rect(3.75rem, 624.937rem, 4.5625rem, 0);
    }
    75%{
        clip: rect(4.125rem, 624.937rem, 5.4375rem, 0);
    }
    80%{
        clip: rect(.3125rem, 624.937rem, .875rem, 0);
    }
    85%{
        clip: rect(1.75rem, 624.937rem, 5.5rem, 0);
    }
    90%{
        clip: rect(4.6875rem, 624.937rem, 3.6875rem, 0);
    }
    95%{
        clip: rect(4.9375rem, 624.937rem, 4.75rem, 0);
    }
    100%{
        clip: rect(1.375rem, 624.937rem, 6.25rem, 0);
    }
}
.background{
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("https://images.alphacoders.com/104/thumb-1920-1046781.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.background_motion:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 900px;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("https://images.alphacoders.com/104/thumb-1920-1046781.jpg") 0 0 no-repeat;
    background-size: cover;
}
.background_motion:hover:before{
    animation: animate 3s infinite;
}
@keyframes animate{
    0%{
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    3%{
        background-position: 4px 4px;
    }
    5%{
        background-position: -8px 0;
    }
    9%{
        background-position: -4px 0;
    }
    10%{
        background-position: 0 0;
    }
    30%{
        background-position: 0 0;
    }
    40%{
        background-position: 0 0;
    }
    50%{
        background-position: 0 0;
    }
    60%{
        background-position: 0 0;
    }
    70%{
        background-position: 0 0;
    }
    80%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 0;
        filter: hue-rotate(360deg);
    }
}

.blank_space{
    width:100%;
    height: 750px; 
    background-color: black;
}

.home_text{
    font-family: 'Baloo 2', cursive;
    color: #fff;
}
.homepage_pic1{
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0, 0, 0, 0.7)),url("https://ellisdownhome.com/wp-content/uploads/2019/01/Computers.jpg") 0 0 no-repeat;
    height: 600px;
    background-size: cover;
}
.text1{
    font-size: 50px;
    font-family: 'Encode Sans SC', sans-serif;
    position: absolute;
    padding-top: 220px;
    
}
.text2{
    font-size: 70px;
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(16, 179, 255);
    padding-top: 300px;
}
.homepage_pic2{
    background: linear-gradient(45deg, rgba(13, 157, 224)70%, rgba(0, 0, 0, 0.5))30%,url("https://i.pinimg.com/originals/a0/73/2f/a0732f8b3693f76363d6e5307ec43996.jpg") 0 0 no-repeat;
    height: 600px;
    background-size: cover;
}
.text3{
    font-size: 40px;
}
p{
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    color: #fff;
}
section{
    background: rgb(6, 62, 88);
}
.container{
    padding-top: 100px;
}
.col-md-10{
    text-align: center;
    background: rgb(6, 62, 88);
}

h1{
    font-weight: 600;    
}

.card-text{
    color: black;
    font-size: 15px;
}
.card-title{
    color: black;
}
.card-img-top{
    padding-top: 50px;
    text-align: center;
    width:200px; 
    height:150px; 
    font-family: 'Baloo 2', cursive;
    font-weight: 900;
    font-size: 30px;
    background-image: linear-gradient( rgba(13, 157, 224,0.4), rgba(0, 0, 0, 0.2)),url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v627-aew-11-technologybackground_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1d2c8b7a4644da738e63e866b7210855");
 }
.btn{
    background-color: rgb(6, 62, 88);
    margin-left: 60px
 }
/*DESCRIPTIONS*/
.col-3{
    font-size: 30px;
    color: #fff;
    height: 250px;;
    text-align: center;
}
.col-9{
    font-size: 30px;
    color: #fff;
    height: 300px;
}
.hardware_img{
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),url("https://media.istockphoto.com/photos/futuristic-circuit-board-blue-with-electrons-picture-id483147081?k=6&m=483147081&s=612x612&w=0&h=qUkUJKX1QvMbWv1Y2xQzgC6we1YiSLomxR1_h-25Fdk=") 0 0 no-repeat;   
    height: 300px;
}
.software_img{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("https://media.istockphoto.com/photos/programming-source-code-abstract-background-picture-id1054955998?k=6&m=1054955998&s=612x612&w=0&h=shvE4Ka3admbK_9ZapZ7b0uSGfuRX3-K4v9KVv45WIA=") 0 0 no-repeat;   
    height: 300px;
}
.design_img{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("https://media.istockphoto.com/photos/futuristic-digital-technology-screen-on-the-eye-picture-id1166272744?k=6&m=1166272744&s=612x612&w=0&h=_JDEWm7nc53mX6sbCsPTks10LzlMIoiKF-dNpaKVIwk=") 0 0 no-repeat;   
    height: 300px;
}
.cybersecurity_img{
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),url("https://media.istockphoto.com/photos/access-denied-picture-id1057964240?k=6&m=1057964240&s=612x612&w=0&h=OotGyjpx7r-pXzfBjn5HtQgrd-SjQg-DRiPJKTwTf2s=") 0 0 no-repeat;   
    height: 300px;
}

/*QUIZ_PAGE*/
.quiz_header{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),url("https://media.istockphoto.com/photos/futuristic-circuit-board-blue-with-electrons-picture-id483147081?k=6&m=483147081&s=612x612&w=0&h=qUkUJKX1QvMbWv1Y2xQzgC6we1YiSLomxR1_h-25Fdk=") 0 0 no-repeat;   
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 200px;
}
.quiz_question{
    font-size: 25px;
}
.quiz_section{
    background: rgb(4, 70, 100);   
    width: 100%;
    color: #fff;

}
.quiz_title{
    
    font-family: 'Nova Mono', monospace;
    font-weight: bold;
}
.quiz_description{
    font-size: 20px;
}
#submit{
    color: fff;
    margin-bottom: 100px;
    margin-top: 50px;
}
#submit:hover{
   color: rgb(6, 62, 88);
}

/*CREATIVE DESIGN PAGE*/
.creative_careers{
    background:  url("https://i.pinimg.com/474x/33/19/14/3319145eb4b1cbd9e5603cb5d5539ff1.jpg") 0 0 no-repeat;
    height: 400px;
    width: 850px;
}
.col-md-8{
    background: rgb(145, 200, 221);   
}
.text1_careers{
    font-size: 50px;
    font-family: 'Encode Sans SC', sans-serif;
}
.text2_careers{
     font-size: 20px;
    font-family: 'Baloo 2', cursive;
}

.text3_careers{
    background: rgb(1, 97, 134); 
    height: 300px;
    padding: 100px;
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    color: #fff;
    text-align: right;
}
.material-icons.md-48 { 
    font-size: 48px; 
    color: white;
    margin: 125px;
}
.sec{
    background: #fff;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}
.sec_icon{
    background: rgb(0, 61, 85);
}
.career_options{
    padding-top: 5%;
}
.text4_careers{
    font-weight: bold;
}
.career_descriptions{
    color: #000;
}
.career_descriptions_p{
    color: rgb(103, 105, 105);
    font-size: 15px;
}
.career_cards{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.career_col{
    flex-basis:25%;
    border-radius: 5px;
    margin-bottom: 5%;
    box-sizing: border-box;
    background: rgb(196, 237, 253);
    transition: 0.5s;
}
.career_col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.2);
}
#playstation{
    width: 200px;
    height: 200px;
}

/*ADVANCED TECHNOLOGY PAGE*/
.advanced_tech_careers{
    background:  url("https://i.pinimg.com/474x/6c/33/e4/6c33e4958b81624198a12348b5172982.jpg") 0 0 no-repeat;
    height: 400px;
    width: 850px;
}
#microsoft{
    width: 200px;
    margin: 100px;
}

/*FINTECH/BUSINESS PAGE*/
#business_fin_careers{
    
    height: 400px;
    width: 850px;
}
#wellsfargo{
    margin: 50px;
}

/*CYBERSECURITY/IT PAGE*/
#cybersecurity_it_careers{
    background: linear-gradient( rgba(13, 157, 224, 0.7));
    height: 400px;
    width: 850px;
}
#nordvpn{
    margin: 100px;
}

/*TECH-RELATED PAGE*/
#tech_related_careers{
    height: 400px;
    width: 850px;
}

/*RESOURCES PAGE*/
.resources_header{
    background: url("https://i.pinimg.com/474x/aa/0c/26/aa0c2624b6119cbba78db70745fd02d4.jpg") 0 0 no-repeat;   
    background-size: cover;
    height: 300px;
    text-align: center;
    padding: 200px;
}
.resources_section{
    background: rgb(4, 70, 100);   
    width: 100%;
    color: #fff;

}
.resources_title{
    font-family: 'Nova Mono', monospace;
    font-weight: bold;
    color: #fff;
}
