/*BASE.HTML*/
.navbar-dark{
    background: linear-gradient( #000, #000)
}

/*INDEX.HTML (Opening)*/
.centertext{
    font-size: 100px;
    font-weight: 700; 
    transform: translate(0%, 200%);
    font-family: 'Nova Mono', monospace;
    text-align: center;
    padding-bottom: 10px;
}
.glitch{
    text-align: center;
    color: #fff;
    mix-blend-mode: lighten;
}
.glitch::before, .glitch::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.glitch::before{
    left: .5rem;
    text-shadow: .125rem 0 orangered;
    animation: effect 3s infinite alternate-reverse;
}
.glitch::after{
    left: .25rem;
    text-shadow: -.125rem 0 #00ffff;
    animation: effect 3s infinite alternate-reverse;
}
@keyframes effect{
    0%{
        clip: rect(3.4375rem, 624.937rem, 3.5rem, 0);
    }
    5%{
        clip: rect(2.9375rem, 624.937rem, 1.875rem, 0);
    }
    10%{
        clip: rect(2.0625rem, 624.937rem, 30.375rem, 0);
    }
    15%{
        clip: rect(2.187rem, 624.937rem, 0.5625rem, 0);
    }
    20%{
        clip: rect(3.9375rem, 624.937rem, 3.6875rem, 0);
    }
    25%{
        clip: rect(6rem, 624.937rem, 6.125rem, 0);
    }
    30%{
        clip: rect(3.125rem, 624.937rem, 2.125rem, 0);
    }
    35%{
        clip: rect(3.125rem, 624.937rem, 2.125rem, 0);
    }
    40%{
        clip: rect(3.75rem, 624.937rem, 4.5rem, 0);
    }
    45%{
        clip: rect(4.625rem, 624.937rem, 5.0625rem, 0);
    }
    50%{
        clip: rect(4.125rem, 624.937rem, 3.75rem, 0);
    }
    60%{
        clip: rect(4.75rem, 624.937rem, 3.75rem, 0);
    }
    65%{
        clip: rect(3.875rem, 624.937rem, 1.975rem, 0);
    }
    70%{
        clip: rect(3.75rem, 624.937rem, 4.5625rem, 0);
    }
    75%{
        clip: rect(4.125rem, 624.937rem, 5.4375rem, 0);
    }
    80%{
        clip: rect(.3125rem, 624.937rem, .875rem, 0);
    }
    85%{
        clip: rect(1.75rem, 624.937rem, 5.5rem, 0);
    }
    90%{
        clip: rect(4.6875rem, 624.937rem, 3.6875rem, 0);
    }
    95%{
        clip: rect(4.9375rem, 624.937rem, 4.75rem, 0);
    }
    100%{
        clip: rect(1.375rem, 624.937rem, 6.25rem, 0);
    }
}
.background{
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("https://images.alphacoders.com/104/thumb-1920-1046781.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.background_motion:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 900px;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("https://images.alphacoders.com/104/thumb-1920-1046781.jpg") 0 0 no-repeat;
    background-size: cover;
}
.background_motion:hover:before{
    animation: animate 3s infinite;
}
@keyframes animate{
    0%{
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    3%{
        background-position: 4px 4px;
    }
    5%{
        background-position: -8px 0;
    }
    9%{
        background-position: -4px 0;
    }
    10%{
        background-position: 0 0;
    }
    30%{
        background-position: 0 0;
    }
    40%{
        background-position: 0 0;
    }
    50%{
        background-position: 0 0;
    }
    60%{
        background-position: 0 0;
    }
    70%{
        background-position: 0 0;
    }
    80%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 0;
        filter: hue-rotate(360deg);
    }
}

/*HOMEPAGE*/
.home_text{
    font-family: 'Baloo 2', cursive;
    color: #fff;
}
.homepage_pic1{
    background: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.7)),url("https://ellisdownhome.com/wp-content/uploads/2019/01/Computers.jpg") 0 0 no-repeat;
    height: 600px;
    background-size: cover;
}
.text1{
    font-size: 50px;
    font-family: 'Encode Sans SC', sans-serif;
    position: absolute;
    top: 300px;
    left: 100px;
}
.text2{
    font-size: 70px;
    font-family: 'Encode Sans SC', sans-serif;
    position: absolute;
    top: 350px;
    left: 100px;
    color: rgb(16, 179, 255);
}
.homepage_pic2{
    background: linear-gradient(45deg, rgba(13, 157, 224)70%, rgba(0, 0, 0, 0.5))30%,url("https://i.pinimg.com/originals/a0/73/2f/a0732f8b3693f76363d6e5307ec43996.jpg") 0 0 no-repeat;
    height: 600px;
    background-size: cover;
}
.text3{
    font-size: 40px;
}
p{
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    color: #fff;
}
.container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: justify;
}

.languages{
    background: rgb(6, 62, 88);
    background-size: cover;
    margin: 10px;
}
h1{
    font-weight: 600;    
}
.card-text{
    color: black;
    font-size: 15px;
}
.card-title{
    color: black;
}
 .card-img-top{
    padding-top: 50px;
    text-align: center;
    width:20px; 
    height:150px; 
    font-family: 'Baloo 2', cursive;
    font-weight: 900;
    font-size: 30px;
    background-image: linear-gradient( rgba(13, 157, 224,0.4), rgba(0, 0, 0, 0.2)),url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v627-aew-11-technologybackground_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1d2c8b7a4644da738e63e866b7210855");
 }
 .btn{
    background-color: rgb(6, 62, 88);
    margin-left:80px
 }
/*DESCRIPTIONS*/
.col-3{
    font-size: 30px;
    color: #fff;
    height: 250px;;
    text-align: center;
}
.col-9{
    font-size: 30px;
    color: #fff;
    height: 300px;
}
.hardware_img{
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),url("https://media.istockphoto.com/photos/futuristic-circuit-board-blue-with-electrons-picture-id483147081?k=6&m=483147081&s=612x612&w=0&h=qUkUJKX1QvMbWv1Y2xQzgC6we1YiSLomxR1_h-25Fdk=") 0 0 no-repeat;   
    height: 300px;
}
.software_img{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("https://media.istockphoto.com/photos/programming-source-code-abstract-background-picture-id1054955998?k=6&m=1054955998&s=612x612&w=0&h=shvE4Ka3admbK_9ZapZ7b0uSGfuRX3-K4v9KVv45WIA=") 0 0 no-repeat;   
    height: 300px;
}
.design_img{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("https://media.istockphoto.com/photos/futuristic-digital-technology-screen-on-the-eye-picture-id1166272744?k=6&m=1166272744&s=612x612&w=0&h=_JDEWm7nc53mX6sbCsPTks10LzlMIoiKF-dNpaKVIwk=") 0 0 no-repeat;   
    height: 300px;
}
.cybersecurity_img{
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),url("https://media.istockphoto.com/photos/access-denied-picture-id1057964240?k=6&m=1057964240&s=612x612&w=0&h=OotGyjpx7r-pXzfBjn5HtQgrd-SjQg-DRiPJKTwTf2s=") 0 0 no-repeat;   
    height: 300px;
}
section{
    background:rgba(1, 95, 138, 0.39)
}
/*QUIZ_PAGE*/
.quiz_question{
    font-size: 25px;
}
.quiz_section{
    background: url("https://i.pinimg.com/236x/ba/31/01/ba3101e61194585aa0ccf0ac73466593.jpg");   
    width: 100%;
    color: #fff;

}
.quiz_title{
    
    font-family: 'Nova Mono', monospace;
    font-weight: bold;
}
.quiz_description{
    font-size: 20px;
}

/*CREATIVE DESIGN PAGE*/
