{% extends 'base.html'%}

{% block title%}

{% endblock title%}



{% block content%}

<body>
    <section>
        <div class="description_row">

             <div class="row">
                        <h1 div>Learn Computer Programming Languages</h1>
                        <p>When choosing a career, it is important to understand which programming language you may
                            need. Explore
                            common programming languages that can be used in various career paths.</p>
            
            <div class="row">
                <div class="col-3">
                    <div class="hardware_img">ADVANCED TECHNOLOGY</div>
                </div><div class="col-9">Hardware engineering is the act of designing, developing, testing and producing physical computer systems. Hardware engineers are typically detail-oriented and have extensive knowledge about all physical components of a computer systems such as, assembling and testing computer parts like circuit boards, chips and processors.</div>
            </div>

            <div class="row">
                <div class="col-9">Software engineering is the process of designing, developing and testing computer software programs such as online games, applications, network control systems and operating systems. Software engineers typically work in teams to develop and troubleshoot computer programs, often using their creative and analytical skills in the process.</div>
                <div class="col-3">
                    <div class="software_img">FINANCIAL TECHNOLOGY</div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="design_img">CREATIVE DESIGN</div>
                </div>
                <div class="col-9">Web design is the process of planning, conceptualizing, and arranging content online. Today, designing a website goes beyond aesthetics to include the website's overall functionality. Web design also includes web apps, mobile apps, and user interface design.</div>
            </div>

            <div class="row">
                <div class="col-9">Computer security, cybersecurity or information technology security is the protection of computer systems and networks from information disclosure, theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</div>
                <div class="col-3">
                    <div class="cybersecurity_img">CYBERSECURITY/IT</div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="design_img">STARTUPS</div>
                </div>
                <div class="col-9">Web design is the process of planning, conceptualizing, and arranging content online. Today, designing a website goes beyond aesthetics to include the website's overall functionality. Web design also includes web apps, mobile apps, and user interface design.</div>
            </div>

            <div class="row">
                <div class="col-9">Computer security, cybersecurity or information technology security is the protection of computer systems and networks from information disclosure, theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</div>
                <div class="col-3">
                    <div class="cybersecurity_img">OUTSIDE CAREERS</div>
                </div>
            </div>


        </div>
    </section>
</body>
{% endblock content%}