{% extends 'base.html'%}

{% block title%}
Homepage
{% endblock title%}



{% block content%}
<!--HEADER-->

<body>
    <div class="home_text">
        <section>
            <div class="homepage_pic1">
                <h1 class="text1">What is </h1>
                <h2 class="text2">Computer Science?</h2>
        </section>

        <!--CS DESCRIPTION-->
        <section>
            <div class="homepage_pic2">
            <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text3">WHAT IS IT?</div>
                    </br>
                    <p>Computer science is the study of computers and computing, including their theoretical and
                        algorithmic foundations, hardware and software, and their uses for processing information. The
                        discipline of computer science includes the study of algorithms and data structures, computer
                        and network design, modeling data and information processes, and artificial intelligence. </p>
                    <p>Computer science draws some of its foundations from mathematics and engineering and therefore
                        incorporates techniques from areas such as queueing theory, probability and statistics, and
                        electronic circuit design.</p>
                </div>
                </div>
                </div>
            </div>
        </section>


        <!--CATEGORIES-->
        <section>

            <div class="row">
                <div class="languages">
                    <div class="row">
                        <div class="container">
                        <h1>Learn Computer Programming Languages</h1>
                        <div class="col-12">
                        <p>When choosing a career, it is important to understand which programming language you may
                            need. Explore
                            common programming languages that can be used in various career paths.</p></div>
                        </div>
                       
                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">JavaScript</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Used for front end website development and gaming development,
                                        JavaScript is used to manipulate various page elements to make them more
                                        dynamic.</p>
                                    <a href="#" class="btn"
                                        style="background-color: rgb(6, 62, 88); color: #fff; ">Learn more</a>>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">Python</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Used by major organizations, such as Google, YouTube and NASA,
                                        Python us object-oriented and used for web development.</p>
                                    <a href="#" class="btn" style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">Java</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Ideal for web-based development, Java is an object-oriented,
                                        high-level language used to develop applications for video games and mobile
                                        apps.</p>
                                    <a href="#" class="btn" style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">PHP</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Primarily used alongside dynamic data-heavy websites to collect
                                        form data, PHP is easy to learn and can be used on all major operating systems.
                                    </p>
                                    <a href="#" class="btn" style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </section>

    </div>
</body>

{% endblock content%}