{% extends 'base.html'%}

{% block title%}

{% endblock title%}


{% block content%}
<!--HEADER-->
<div class="background_motion">

    <div class="center">
        <h1 class="centertext glitch" data-text="COMPUTER SCIENCE">COMPUTER SCIENCE
            </br>
            <a href='/index'><button type="button" class="btn btn-outline-light">Browse</button></a>
        </h1>
    </div>
</div>

<div class="blank_space"></div>

<div class="home_text">
    <section>
        <div class="homepage_pic1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12"></div>
                    <h1 class="text1">What is </h1>
                    <h2 class="text2">Computer Science?</h2>
                </div>
            </div>
    </section>

    <!--CS DESCRIPTION-->
    <section>
        <div class="homepage_pic2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
                        <div class="text3">WHAT IS IT?</div>
                        </br>
                        <p>Computer science is the study of computers and computing, including their theoretical and
                            algorithmic foundations, hardware and software, and their uses for processing information.
                            The
                            discipline of computer science includes the study of algorithms and data structures,
                            computer
                            and network design, modeling data and information processes, and artificial intelligence.
                        </p>
                        <p>Computer science draws some of its foundations from mathematics and engineering and therefore
                            incorporates techniques from areas such as queueing theory, probability and statistics, and
                            electronic circuit design.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--CATEGORIES-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-10 col-sm-12">
                    <h1>Learn Computer Programming Languages</h1>

                    <p>When choosing a career, it is important to understand which programming language you may need.
                        Explore common programming languages that can be used in various career paths.</p>
                    <div class="col-md-1 col-sm-12"></div>
                    </br>
                </div>


                <div>


                    <div class="cards_items row justify-center">
                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">JavaScript</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Used for front end website development and gaming development,
                                        JavaScript is used to manipulate various page elements to make them more
                                        dynamic.</p>
                                    <a href="#" class="btn"
                                        style="background-color: rgb(6, 62, 88); color: #fff; ">Learn more</a>>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">Python</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Python is one of the must popular coding languages. It is used
                                        by major organizations, such as Google, and NASA, object-oriented for web
                                        development.</p>
                                    <a href="#" class="btn" style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">Java</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Ideal for web-based development, Java is an object-oriented,
                                        high-level language used to develop applications for video games and mobile
                                        apps.</p>
                                    <a href="#" class="btn" style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="card-img-top">PHP</div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Primarily used alongside dynamic data-heavy websites to collect
                                        form data, PHP is easy to learn and can be used on all major operating systems.
                                    </p>
                                    <a href="#" class="btn" style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>



                    </div>


    </section>

    {% endblock content%}