{% extends 'base.html'%}

{% block title%}
Home
{% endblock title%}


{% block content%}
<!--HEADER-->
<div class="background_motion">
        <h1 class="centertext glitch" data-text="COMPUTER SCIENCE">COMPUTER </br>SCIENCE
            </br>
        </h1>
</div>

<div class="blank_space"></div>

<div class="home_text">
    <section>
        <div class="homepage_pic1">
            
                <div class="row">
                    <div class="col-md-6 col-sm-12"></div>
                    <h1 class="text1">What is </h1>
                    <h2 class="text2">Computer Science?</h2>
                </div>
            
    </section>

    <!--CS DESCRIPTION-->
    <section>
        <div class="homepage_pic2">
            <div class="container" id="home-container">
                <div class="row">
                    <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
                        <div class="text3">WHAT IS IT?</div>
                        </br>
                        <p>Computer science is the study of computers and computing, including their theoretical and
                            algorithmic foundations, hardware and software, and their uses for processing information.
                            The
                            discipline of computer science includes the study of algorithms and data structures,
                            computer
                            and network design, modeling data and information processes, and artificial intelligence.
                        </p>
                        <p>Computer science draws some of its foundations from mathematics and engineering and therefore
                            incorporates techniques from areas such as queueing theory, probability and statistics, and
                            electronic circuit design.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--CATEGORIES-->
    <section id="learn_programming_lang">
        <div class="container" id="home-container">

            <h1 id="Text3_p">Learn Computer Programming Languages</h1>

            <p id="Text3_p">When choosing a career, it is important to understand which programming language you may
                need.
                Explore common programming languages that can be used in various career paths.</p>
            </br>
            </br>


            <div class="row">
                <div class="cards_items row justify-center" id="programming_cards">
                    <div class="col-lg-3 col-md-6 col-12" id="programming_languages">

                        <div class="card-img-top">JavaScript</div>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Used for front end website development and game development.
                                    JavaScript is used to manipulate various page elements to make them more
                                    dynamic and interactive for users. HTML and CSS are languages that give
                                    structure and style to web pages where JavaScript gives web pages interactive
                                    elements that engage a user and improve user experience.</p>
                                <a href="https://www.javascript.com/" class="btn"
                                    style="background-color: rgb(6, 62, 88); color: #fff; ">Learn more</a>
                            </div>
                        </div>

                    </div>

                    </br>

                    <div class="col-lg-3 col-md-6 col-sm-12" id="programming_languages">

                        <div class="card-img-top">Python</div>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Used by major organizations, such as Google, YouTube and NASA,
                                    Python is object-oriented and used for web development. It is simple to learn and
                                    its high-level
                                    built in data structures combined with dynamic typing and dynamic binding makes
                                    it suitable
                                    for Rapid Application Development, and for use as a scripting or "glue
                                    language" to connect existing
                                    components together</p>
                                <a href="https://www.python.org/" class="btn"
                                    style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                    more</a>
                            </div>
                        </div>

                    </div>

                    </br>

                    <div class="col-lg-3 col-md-6 col-sm-12" id="programming_languages">

                        <div class="card-img-top">Java</div>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Ideal for web-based development, Java is an object-oriented,
                                    high-level language used to develop applications for video games and mobile
                                    apps. Java is used as the server-side language for most back-end development
                                    projects, including those involving big data and Android development. It is
                                    also commonly used for desktop, mobile, numerical computing and games.</p>
                                <a href="https://www.java.com/en/" class="btn"
                                    style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                    more</a>
                            </div>
                        </div>

                    </div>

                    </br>

                    <div class="col-lg-3 col-md-6 col-sm-12" id="programming_languages">

                        <div class="card-img-top">PHP</div>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Primarily used alongside dynamic data-heavy websites to collect
                                    form data, PHP is easy to learn and can be used on all major operating systems.
                                    It
                                    is used to manage dynamic content, databases, session tracking, even build
                                    entire
                                    e-commerce sites. It is integrated with a number of popular databases, including
                                    MySQL,
                                    PostgreSQL, Oracle, Informix, and Microsoft SQL Server.
                                </p>
                                <a href="https://www.php.net/" class="btn"
                                    style="background-color: rgb(6, 62, 88); color: #fff;">Learn
                                    more</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
    </section>

    </section>
    <div class="row">
        <div class="homepage_pic4">
            <div class="row">
                <div class="container" id="bottom-home-container">
                    <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
                        <h1 id="Text4_h1">What will you choose?</h1>

                        </br>
                        </br>
                        <p id="Text4_p"> No matter what path you choose, know there is
                            a something for everyone in Computer Science. Explore our site and
                            find your place in the world of Computer Science.
                        </p>

                        <p id="Text4_p_quiz"> Take our quiz to see what career in Computer Science best suits you!
                            </br>
                            </br>
                            <a href="/quiz" class="btn" id="btn_quiz"
                                style="background-color: #fff; color: rgb(6, 62, 88);">Take the quiz!</a>
                        </p>

                    </div>
                </div>
            </div>
            </section>


            {% endblock content%}