{% extends 'base.html'%}

{% block title%}
Technology Related Careers
{% endblock title%}



{% block content%}

<body>

    <div class="row" id="career_header">
        <div class="col-lg-4 col-sm-12">
            <img src="https://i.pinimg.com/474x/ce/51/ea/ce51ea44776b307a03e82e80783ca357.jpg" id="career_header_img">
        </div>
        <div class="col-md-8 col-sm-12" id="career_text1_header">
            <div class="container" id="career-container">
                <div class="text1_careers">TECHNOLOGY RELATED CAREERS</div>
                <div class="text2_careers">There are many careers aout there for you and others that involve technology but is not completely immersed in it.</div>
            </div>
        </div>
    </div>

    <section>
        <div class="row" id="">
            <div class="col-md-9 col-sm-12" id="text3_container">
                <div class="text3_careers">
                    At its core, design is about solving problems with people in mind. In addition to encompassing a
                    vast array of specializations, design also plays a role in engineering, architecture, computer
                    science,
                    entrepreneurship, and more.
                 </div>
            </div>
            <div class="col-md-3 col-sm-12" id="icon_area">
                <span class="material-icons md-48">devices</span>
            </div>
            </div>
        </div>
    </section>

    <!--<section class="sec_icon">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="text3_careers">
                    At its core, design is about solving problems with people in mind. In addition to encompassing a
                    vast array of specializations, design also plays a role in engineering, architecture, computer
                    science,
                    entrepreneurship, and more.
                </div>
            </div>
            <div class="col-md-3 col-sm-12" id="icon_area">
                <span class="material-icons md-48">devices</span>
            </div>
        </div>
    </section>-->

    <section class="sec">

        <div class="row">
            <div class="career_options">
                <h1 class="text4_careers">Technology-Related Careers</h1>
                <p class="career_descriptions_p">Not all careers involving computer science are in typical "technology" fields. Computer science can be used in any career, </br> and you have the possibility and drive to put it into anything you see fit - or maybe nothing at all. Maybe computer science isn't for you, and that's okay. </br> Explore different careers and different skills in computer science to see what you enjoy!</p>
            </div>
            </br>
            </br>
            <div class="career_cards">
                
                <dic class="col-1"></dic>
                <div class="career_col">
                    </br>
                    <h3 class="career_descriptions">Computer-Science Related</h3>
                    <p class="career_descriptions_p">Check out different ways comp-sci can go into your intended career!
                    </p>
                </div>

                <div class="career_col">
                    </br>
                    <h3 class="career_descriptions">Non-Computer Science Related</h3>
                    <p class="career_descriptions_p">Maybe comp-sci isn't for you, and that's okay: have fun with what you intend to do!</p>
                </div>

                <div class="career_col">
                    </br>
                    <h3 class="career_descriptions">Startups</h3>
                    <p class="career_descriptions_p">Try innovating comp-sci with your own hand by working with small, growing companies!</p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        </div>


</body>



{% endblock content%}